for production
# Database Credentials


POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=


DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}



# Backend JWT Secret
JWT_SECRET=
JWT_EXPIRES_IN=

# Redis
REDIS_URL=redis://redis:6379

# Frontend
NEXT_PUBLIC_API_URL=



# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=