# # Database Credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=company_db


DATABASE_URL=postgres://postgres:mysecretpassword@localhost:5432/company_db


# Backend JWT Secret
JWT_SECRET=
JWT_EXPIRES_IN=7d

# Redis
# REDIS_URL=redis://redis:6379
REDIS_URL=redis://localhost:6379

# # Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

